<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 
    <div class="card">
        <app-forecast-city-line [key]="25" [data]="dataMap" [title]="'Україна загалом'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="1" [data]="dataMap" [title]="'Вінницька'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="2" [data]="dataMap" [title]="'Волинська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="3" [data]="dataMap" [title]="'Дніпропетровська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="4" [data]="dataMap" [title]="'Донецька'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="5" [data]="dataMap" [title]="'Житомирська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="6" [data]="dataMap" [title]="'Закарпатська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="7" [data]="dataMap" [title]="'Запорізька'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="8" [data]="dataMap" [title]="'Івано-Франківська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="9" [data]="dataMap" [title]="'Київська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="10" [data]="dataMap" [title]="'Кіровоградська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="11" [data]="dataMap" [title]="'Луганська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="12" [data]="dataMap" [title]="'Львівська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="13" [data]="dataMap" [title]="'Миколаївська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="14" [data]="dataMap" [title]="'Одеська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="15" [data]="dataMap" [title]="'Полтавська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="16" [data]="dataMap" [title]="'Рівненська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="17" [data]="dataMap" [title]="'Сумська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="18" [data]="dataMap" [title]="'Тернопільська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="19" [data]="dataMap" [title]="'Харківська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="20" [data]="dataMap" [title]="'Херсонська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="21" [data]="dataMap" [title]="'Хмельницька'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="22" [data]="dataMap" [title]="'Черкаська'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="23" [data]="dataMap" [title]="'Чернівецька'"></app-forecast-city-line>
    </div>
    <div class="card">
        <app-forecast-city-line [key]="24" [data]="dataMap" [title]="'Чернігівська'"></app-forecast-city-line>
    </div>



</div>
