
<main class="form-signin">
  <form>
    <img class="my-5" src="/assets/Transparent_UKR_SSOU_Logo_Gorizontal.png" height="60" >

    <h1 class="h3 mb-3 fw-normal">Вхід до системи</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" [(ngModel)]="username" name="username">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="password" name="password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Не користувач домену
      </label>
    </div>
    <input class="w-100 btn btn-lg btn-primary" type="button" (click)="onLogin()" value="Вход">
    <p class="mt-5 mb-3 text-muted">&copy; Rekalo Oleksand 2022</p>
  </form> 
</main>

 