<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 

<div class="card">
	<app-linear-chart [key]="'7000001.52'" [data]="dataMap" [max]="30550000" 
	[long]="4662000" [dt]="iso" [title]="'Оператор ГСУ, всього, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906023.52'" [data]="dataMap" [max]="1900000" 
	[long]="250000" [dt]="iso" [title]="'ПСГ Угерське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906024.52'" [data]="dataMap" [max]="17050000" 
	[long]="3700000" [dt]="iso" [title]="'ПСГ Більче-Волицько-Угерське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906022.52'" [data]="dataMap" [max]="2150000" 
	[long]="622000" [dt]="iso" [title]="'ПСГ Дашавське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'906021.52'" [data]="dataMap" [max]="1920000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Опарське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'903031.52'" [data]="dataMap" [max]="2300000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Богородчанське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901033.52'" [data]="dataMap" [max]="310000" 
	[long]="90000" [dt]="iso" [title]="'ПСГ Олишівське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901032.52'" [data]="dataMap" [max]="1500000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Мринське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'901031.52'" [data]="dataMap" [max]="1300000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Солохівське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'902031.52'" [data]="dataMap" [max]="1000000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Пролетарське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'902032.52'" [data]="dataMap" [max]="700000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Кегичівське, млн.м3'"></app-linear-chart>
</div>
<div class="card">
	<app-linear-chart [key]="'905031.52'" [data]="dataMap" [max]="420000" 
	[long]="0" [dt]="iso" [title]="'ПСГ Червонопопівське, млн.м3'"></app-linear-chart>
</div>


