<div class="d-flex justify-content-between flex-wrap  align-items-center border-bottom"> 

<div class="card">
	<app-linear-chart></app-linear-chart>
</div>
<div class="card"><app-linear-chart></app-linear-chart></div>
<div class="card"><app-linear-chart></app-linear-chart></div>
<div class="card"><app-linear-chart></app-linear-chart></div>
<div class="card"><app-linear-chart></app-linear-chart></div>
<div class="card"><app-linear-chart></app-linear-chart></div>
<div class="card"><app-linear-chart></app-linear-chart></div>

</div>